<%= V.render("menu_all.html", assigns: "@assigns") %>
<%= V.render("desc.html",
title: "project :: canvas",
content: "차트 그리기",
style: V.style_desc(500,150))
%>
<%= V.render("canvas.html",
title: "SAMPLE 1",
content: " canvas ",
style: V.style_desc(1000,300)) %>
