<%= V.render("menu_all.html", assigns: "@assigns") %>
<%
  string =  "안녕하세요"
  number = 2
%>
<%= V.render("desc.html", title: "input", content:  "str = #{string} number = #{number}" ,style: V.style_desc(120,40)) %>
<%= V.render("desc.html", title: "chunk", content: "#{inspect chunk(string,number)}",style: V.style_desc(400,40)) %>
