<%= V.render("menu_all.html", assigns: "@assigns") %>
<%= V.render("desc.html",
title: "project :: canvas",
content: "린 캔버스 , 비즈니스 캔버스 , 스타트업 캔버스 등으로 불리우는
캔버스 모델을 웹으로 구현해 보고자 합니다.

참고중인 롤 모델은 유튜브 영상을 참조해주시면 됩니다.
https://www.youtube.com/watch?v=kZD5GFIZfls&feature=youtu.be

참가방법은 live/canvas 폴더내서 자유롭게 구현하는것입니다.
프로젝트 시작일 :: 2020.09.09") %>
