<%= V.render("menu_all.html", assigns: "@assigns") %>
<%= V.render("desc.html",
title: "스터디 페이지 안내",
content: " elixir 언어를 활용하는 간단한
 프로젝트를 진행하고자 만들었습니다.

 아이디어가 생각나는대로 프로토타이핑 해보고,
 테스트해보는 페이지이며, 누구나 참가가능합니다.

 작성자 :: 초급 elixir
 문의 :: https://open.kakao.com/o/seBeGPuc
 github : https://github.com/raetam/livestudy
 제작일 : 2020.09.09") %>
