<%= V.render("menu_all.html", assigns: "@assigns") %>
<%= V.render("desc.html", title: "알고리즘 공부", content: "알고리즘 공부",style: V.style_desc(500,200)) %>
<%= V.render("desc.html", title: "알고리즘 공부", content: "알고리즘 공부",style: V.style_desc(500,200)) %>
